<div class="row">
            
  <div class="col col-xl-6 col-lg-12" *ngFor="let category of categories">
    <div class="panel">
    <ikubinfo-panel header="Category">
      <div panel-content  >
        <h1 >{{ category.categoryName }}</h1>
        <p>{{ category.categoryDescription }}</p>
        <button [disabled]="category.isSubscribed" class="btn btn-success" (click)="subscribe(category.categoryId)">{{ category.isSubscribed? 'Subscribed':'Subscribe' }}</button>
      </div>
    </ikubinfo-panel>
    </div>
  </div> 


</div>

