<div _ngcontent-c27="" class="alert alert-success" *ngIf="categories.length === 0">
  <strong _ngcontent-c27="" class="ng-tns-c27-3">Well done!</strong> You successfully subscribed to all the categories.</div>

<div class="row" *ngIf="categories.length > 0">
            
  <div class="col col-xl-6 col-lg-12" *ngFor="let category of categories">
    <div class="panel">
    <ikubinfo-panel header="Category">
      <div panel-content  >
        <h1 >{{ category[3] }}</h1>
        <p>{{ category[2] }}</p>
        <button class="btn btn-success" (click)="subscribe(category[0])">Subscribe</button>
      </div>
    </ikubinfo-panel>
    </div>
  </div> 


</div>

