<div class="row">
            
  <div class="col col-xl-6 col-lg-12" *ngFor="let post of posts">
    <div class="panel">
    <ikubinfo-panel header="Post">
      <div panel-content>
        <h1>{{ post.postName }}</h1>
        <p>{{ post.postDescription }}</p>
        <button class="btn btn-info" *ngIf="!post.liked" (click)="like(post.postId)">Like</button>
        <button class="btn btn-danger" *ngIf="post.liked" (click)="unlike(post.postId)">Unlike</button>
      </div>
    </ikubinfo-panel>
    </div>
  </div> 
</div>
