<div _ngcontent-c27="" class="alert alert-info" *ngIf="posts.length === 0">
  <strong _ngcontent-c27="" class="ng-tns-c27-3">Oh snap!</strong> There are no posts for this category yet. 
</div>
<div _ngcontent-c5="" class="card text-white header" *ngIf="posts.length > 0">
    <div _ngcontent-c5="" class="card-header">
      <div _ngcontent-c5="" class="row back">
        <div _ngcontent-c5="" class="col col-xs-3 ">
            <img src="assets/images/blog.png" alt="post" class="post" />
      </div>
        <div _ngcontent-c5="" class="col col-xs-9 text-right">
          <div _ngcontent-c5="" class="d-block huge">{{posts[0].category.categoryName}}</div>
          </div></div></div>
    </div>
<div class="row" *ngIf=" posts.length > 0">
            
  <div class="col col-xl-6 col-lg-12" *ngFor="let post of posts" >
    <div class="panel" >
    <ikubinfo-panel header="{{post.postName}}">
      <div panel-content >
        <div>
            <img *ngIf="post.image !== ''" src="assets/images/{{ post.image }}.jpg" width="480px" alt="{{post.image}}" class="image"/>
            <img *ngIf="post.image === ''" src="assets/images/football.jpg" width="480px" alt="football" class="image"/>
        <p>{{ post.postDescription }}</p>
        <p class="link" *ngIf="post.link !== null">Source: <a href="{{post.link}}">{{post.link}}</a></p>
        <div class="likeIconStatement">
        <img class="likeIcon" src="assets/images/like.png" alt="like"/>
        <span class="badge badge-primary" *ngIf="post.likedUsers === undefined || post.likedUsers.length === 0"> Be the first to like this post.</span>
        <span class="badge badge-primary" *ngIf="post.likedUsers.length > 0">{{ post.likedUsers }} like this post.</span>        
      </div>
      <div class="commentSection">
      <img src="assets/images/chat.png" class="comment" alt="comment"/>
      <div class="commentText" *ngFor="let comment of post.comments" >
      <span class="badge badge-info">{{comment.user.username}}: {{ comment.description }}</span>
      </div>
    </div>
<form role="form" [formGroup]="commentForm" class="commentform">

    <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup commentinput">
            <input type="text" pInputText placeholder="Comment" formControlName="description">   
            <button pButton type="button" icon="pi pi-comments" class="ui-button-warn" (click)="comment(post.postId)"></button>      
        </div>
    </div>
 
</form>
        <br>
        </div>
        <p-button class="like" icon="pi pi-star-o" *ngIf="!post.liked" (click)="like(post.postId)" label="Like"></p-button>
        <button pButton type="button" icon="pi pi-times" *ngIf="post.liked" label="Unlike" (click)="unlike(post.postId)" class="ui-button-rounded ui-button-danger unlike"></button>
      </div>
    </ikubinfo-panel>
    </div>
  </div> 
</div>
