<ikubinfo-panel header="Suggestion">
  <div panel-content>
    <form role="form" [formGroup]="suggestionForm">
      <ikubinfo-input label="Title">
        <input formControlName="categoryName" type="text" class="form-control" />
      </ikubinfo-input>
      <ikubinfo-input label="Icon">
        <p-dropdown [options]="icons" formControlName="icon" filter="true">
          <ng-template let-item pTemplate="selectedItem">
              <img src="assets/images/{{item.label}}.png" style="width:16px;vertical-align:middle" />
              <span style="vertical-align:middle; margin-left: .5em">{{item.label}}</span>
          </ng-template>
          <ng-template let-icon pTemplate="item">
              <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                  <img src="assets/images/{{icon.label}}.png" style="width:24px;position:absolute;top:1px;left:5px"/>
                  <div style="font-size:14px;float:right;margin-top:4px">{{icon.label}}</div>
              </div>
          </ng-template>
      </p-dropdown>
    </ikubinfo-input>
      <ikubinfo-input label="Description">
        <textarea formControlName="categoryDescription" type="text" class="form-control"> </textarea>
      </ikubinfo-input>
    </form>
    <p-button icon="pi pi-check" label="Submit" (click)="addData()" [disabled]="suggestionForm.invalid"></p-button>
    <button pButton type="button" icon="pi pi-times" label="Clear" class="ui-button-secondary reset" (click)="clearData($event)" ></button>
  </div>
</ikubinfo-panel>