<ikubinfo-panel header="Suggestion">
  <div panel-content>
    <form role="form" [formGroup]="suggestionForm">
      <ikubinfo-input label="Title">
        <input formControlName="categoryName" type="text" class="form-control" />
      </ikubinfo-input>
      <ikubinfo-input label="Icon">
          <select class="custom-select" (change)="changeIcon($event)" formControlName="icon">
              <option value="" disabled>Choose the icon</option>
              <option *ngFor="let icon of icons" [ngValue]="icon">{{ icon }}</option>
            </select>
            
             </ikubinfo-input>
        
      <ikubinfo-input label="Description">
        <textarea formControlName="categoryDescription" type="text" class="form-control"> </textarea>
      </ikubinfo-input>
    </form>
    <p-button icon="pi pi-check" label="Submit" (click)="addData($event)" [disabled]="suggestionForm.invalid"></p-button>
    <button pButton type="button" icon="pi pi-times" label="Clear" class="ui-button-secondary reset" (click)="clearData($event)" ></button>
  </div>
</ikubinfo-panel>