.panel{
    transition: transform .2s; 
}

.panel:hover{
    transform: scale(1.03);
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
}

.like{
    margin-top: 10%;
}

.unlike{
    margin-top:10%;
}

.user-avatar{
    float:left;
    margin-right: 5%;
}

.header{
    color: cornflowerblue;
}
