.panel{
    transition: transform .2s; 
}

.panel:hover{
    transform: scale(1.03);
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
}

.like{
    margin-top: 10%;
}

.unlike{
    margin-top:10%;
}

.image{
    float: left;
    margin-right: 2%;
}
.header{
    margin-bottom: 2%;
    width: 10px;
}