<div _ngcontent-c5="" class="card text-white bg-warning header" *ngIf="posts.length > 0">
    <div _ngcontent-c5="" class="card-header">
      <div _ngcontent-c5="" class="row back">
        <div _ngcontent-c5="" class="col col-xs-3 ">
            <i _ngcontent-c5="" class="fa fa-comments fa-4x"></i>
      </div>
        <div _ngcontent-c5="" class="col col-xs-9 text-right">
          <div _ngcontent-c5="" class="d-block huge">{{posts.length}}</div>
          <div _ngcontent-c5="" class="d-block">New Posts!</div></div></div></div>
    </div>
<div class="row">
            
    <div class="col col-xl-6 col-lg-12" *ngFor="let post of posts" >
      <div class="panel" >
      <ikubinfo-panel header="{{post.postName}}">
        <div panel-content >
          <img src="assets/images/{{ post.image }}.jpg" width="480px" class="image" />
          <p class="text">{{ post.postDescription }}</p>
          <p class="link" *ngIf="post.link !== null">Source: <a href="{{ post.link }}"> {{ post.link }} </a></p>
          <div class="likeIconStatement">
              <img class="likeIcon" src="assets/images/like.png" alt="like"/>
              <span class="badge badge-primary" *ngIf="post.likedUsers === undefined || post.likedUsers.length === 0"> Be the first to like this post.</span>
              <span class="badge badge-primary" *ngIf="post.likedUsers.length > 0">{{ post.likedUsers }} like this post.</span>
              </div>
          <br>
          <p-button class="like" icon="pi pi-check" *ngIf="!post.liked" (click)="like(post.postId)" label="Like"></p-button>
          <button pButton type="button" *ngIf="post.liked"  icon="pi pi-times" label="Unlike" (click)="unlike(post.postId)" class="ui-button-rounded ui-button-danger unlike"></button>
        </div>
      </ikubinfo-panel>
      </div>
    </div> 
  </div>
  