
<div class="row">
            
    <div class="col col-xl-6 col-lg-12" *ngFor="let post of posts" >
      <div class="panel" >
      <ikubinfo-panel header="Post">
        <div panel-content >
          <img src="assets/images/slider3.jpg" width="250px" height="200px" class="user-avatar" />
          <h1 class="text">{{ post.postName }}</h1>
          <p class="text">{{ post.postDescription }}</p>
          
          <span class="badge badge-primary" *ngIf="post.likedUsers === undefined || post.likedUsers.length === 0"> Be the first to like this post.</span>
          <span class="badge badge-primary" *ngIf="post.likedUsers.length > 0">{{ post.likedUsers }} like this post.</span>
          <br>
          <p-button class="like" icon="pi pi-check" *ngIf="!post.liked" (click)="like(post.postId)" label="Like"></p-button>
          <button pButton type="button" *ngIf="post.liked"  icon="pi pi-times" label="Unlike" (click)="unlike(post.postId)" class="ui-button-rounded ui-button-danger unlike"></button>
        </div>
      </ikubinfo-panel>
      </div>
    </div> 
  </div>
  