<div class="row">
  <div class="col col-xl-12 col-lg-12">
    <ikubinfo-panel header="Posts">
      <div panel-content>
        <button (click)="addPost()" class="btn btn-primary">Add Post</button>
        <p-table [columns]="cols" [value]="posts" [paginator]="true" [rows]="10" [(contextMenuSelection)]="selectedPost"
          [contextMenu]="cm">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{col.header}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pContextMenuRow]="rowData">
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>
        </p-table>
        <p-contextMenu #cm [model]="items"></p-contextMenu>
      </div>
    </ikubinfo-panel>
  </div>
</div>