<button pButton (click)="addPost()" class="ui-button-info addpost" label="Add Post" icon="pi pi-plus"></button>
<div class="row">
  <div class="col col-xl-12 col-lg-12">
    <ikubinfo-panel header="Posts">
      <div panel-content>

        <p-table [columns]="cols" [value]="posts" [paginator]="true" [rows]="10" [(contextMenuSelection)]="selectedPost"
          [contextMenu]="cm">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns">
                {{ col.header }}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pContextMenuRow]="rowData">
              <td *ngFor="let col of columns">
               <p *ngIf="col.field!=='image'"> {{ rowData[col.field] }}</p>
               <img *ngIf="col.field==='image'" src="assets/images/{{rowData[col.field]}}.jpg" alt="{{rowData[col.field]}}" width="300px" height="200px" />
              </td>
            </tr>
          </ng-template>
        </p-table>
        <p-contextMenu #cm [model]="items"></p-contextMenu>
      </div>
    </ikubinfo-panel>
  </div>
</div>