<ikubinfo-panel header="Category">
  <div panel-content>
    <form role="form" [formGroup]="categoryForm">
      <ikubinfo-input label="Title">
        <input formControlName="title" type="text" class="form-control"/>
      </ikubinfo-input>
      <ikubinfo-input label="Icon">
          <select class="custom-select" (change)="changeIcon($event)" formControlName="icon">
              <option value="" disabled>Choose the icon</option>
              <option *ngFor="let icon of icons" [ngValue]="icon">{{ icon }}</option>
            </select>
        </ikubinfo-input>
      <ikubinfo-input label="Description">
        <textarea formControlName="description" type="text" class="form-control"></textarea>
      </ikubinfo-input>
    </form>
    <button pButton type="submit" (click)="submit()" [disabled]="categoryForm.invalid" class="ui-button-success" label="Submit" icon="pi pi-file"></button>
    <button pButton type="button" (click)="reset()" class="ui-button-secondary reset" label="Reset" icon="pi pi-times"></button>
  </div>
</ikubinfo-panel>