<div _ngcontent-c27="" class="alert alert-info" *ngIf="!posts || posts.length === 0">
    <strong _ngcontent-c27="" class="ng-tns-c27-3">Oh snap!</strong> There are no proposals yet. 
  </div>
  <div class="row">
            
  <div class="col col-xl-6 col-lg-12" *ngFor="let proposal of proposals">
    <ikubinfo-panel header="Proposal">
      <div panel-content>
        <img src="assets/images/{{ proposal.icon }}.png" alt="{{proposal.icon}}" class="icon"/>
        <h1>{{ proposal.categoryName }}</h1>
        <p>{{ proposal.categoryDescription }}</p>
        <button pButton class="ui-button-success" icon="pi pi-check" (click)="accept(proposal.categoryId)" label="Accept"></button>
        <button pButton class="ui-button-warning decline" icon="pi pi-times" (click)="decline(proposal.categoryId)" label="Decline"></button>
      </div>
    </ikubinfo-panel>
  </div> 
</div>