:host .navbar {
  background-color: #8DAA9D;
}
:host .navbar .navbar-brand {
  color: #fff;
}
:host .navbar .nav-item > a {
  color: rgb(26, 24, 24);;
}
:host .navbar .nav-item > a:hover {
  color: #fff;
}

.logo{
  width: 40%;
  height: 30%;
}