:host .navbar {
  background-color: #B3C6C0;
}
:host .navbar .navbar-brand {
  color: #fff;
}
:host .navbar .nav-item > a {
  color: #999;
}
:host .navbar .nav-item > a:hover {
  color: #fff;
}

.logo{
  width: 60%;
}