<div class="row">
            
  <div class="col col-xl-6 col-lg-12" *ngFor="let category of subscriptions" >
    <div class="panel" >
    <ikubinfo-panel header="Category"  >
      <div panel-content >
        <h1>{{ category[3] }}</h1>
        <p>{{ category[2] }}</p>
        <button class="btn btn-info" (click)="viewPosts(category[0])" >Open</button>
        <button class="btn btn-danger button" (click)="unsubscribe(category[0])">Unsubscribe</button>
      </div>
    </ikubinfo-panel>
    </div>
  </div> 
</div>