.panel{
    transition: transform .2s; 
}

.panel:hover{
    transform: scale(1.03);
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
}
.button{
    margin-left: 60%;

} 

.icon{
    float: left;
    margin-right: 5%;
}