<ikubinfo-panel header="Post">
  <div panel-content>
    <form role="form" [formGroup]="postForm">
      <ikubinfo-input label="Title">
        <input formControlName="title" type="text" class="form-control" />
      </ikubinfo-input>
      <ikubinfo-input label="Image">
          <select class="custom-select" (change)="changeImage($event)" formControlName="image">
            <option value="" disabled>Choose an image</option>
            <option *ngFor="let image of images" [ngValue]="image">{{image}}</option>
          </select>
        </ikubinfo-input>
      <ikubinfo-input label="Category">
        <select class="custom-select" (change)="changeCategory($event)" formControlName="category">
          <option value="" disabled>Choose the category</option>
          <option *ngFor="let category of categories" [ngValue]="category.categoryId">{{category.categoryName}}</option>
        </select>
      </ikubinfo-input>
      <ikubinfo-input label="Source">
        <input formControlName="link" type="link" class="form-control" />
      </ikubinfo-input>
      <ikubinfo-input label="Description">
        <textarea formControlName="description" type="text" class="form-control"> </textarea>
      </ikubinfo-input>
    </form>
    <button pButton type="submit" (click)="submit()" [disabled]="postForm.invalid" class="ui-button-success" label="Submit" icon="pi pi-file"></button>
    <button pButton type="button" (click)="reset()" class="ui-button-secondary reset" label="Reset" icon="pi pi-times"></button>
  </div>
</ikubinfo-panel>
